<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.creativity.dev.formsimple">

    <application>

        <activity
                android:name=".ui.SelectActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
                android:name=".CalendarActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
                android:name=".Calendar_H_Activity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>